@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --primary-blue-200: hsl(225, 100%, 94%);
  --primary-blue-400: hsl(245, 75%, 52%);

  --neutral-blue-100: hsl(225, 100%, 98%);
  --neutral-blue-300: hsl(224, 23%, 55%);
  --neutral-blue-700: hsl(223, 47%, 23%);

  --fw-normal: 500;
  --fw-bold: 700;
  --fw-extra-bold: 900;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-blue-200);
}

.container {
  max-width: 300px;
  overflow: hidden;
  background-color: var(--neutral-blue-100);
  border-radius: 20px;
}

.img__top img {
  overflow: hidden;
  width: 100%;
  display: block;
}

.content {
  padding: 20px;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.hero h2 {
  font-size: 22px;
  font-weight: var(--fw-extra-bold);
  margin-bottom: 15px;
}

.hero p {
  text-align: center;
  font-size: 13px;
  line-height: 1.8;
  color: var(--neutral-blue-300);
  margin-bottom: 10px;
}

.plan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsla(225, 100%, 94%, 0.3);
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 20px;
}

.plan a {
  font-size: 12px;
}

.plan a:hover {
  color: hsla(245, 75%, 52%, 1);
  text-decoration: none;
}

.plan img {
  width: 45px;
  height: 45px;
}

.plan__price {
  margin-right: 15px;
}

.plan__price h3 {
  font-size: 14px;
  margin-bottom: 3px;
}

.plan__price p {
  font-size: 13px;
  color: var(--neutral-blue-300);
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons a {
    font-weight: var(--fw-bold);
    font-size: 14px;
    outline: none;
    text-decoration: none;
}

.buttons .proceed {
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    color: white;
    background-color: var(--primary-blue-400);
}

.buttons .proceed:hover {
    background-color: hsla(245, 75%, 52%, 0.7);
}

.buttons .cancel {
    margin: 20px 0 5px;
    color: var(--neutral-blue-300);
}

.buttons .cancel:hover {
    color: var(--neutral-blue-700);
}